
prova.ipynb
__pycache__/basic_operations.cpython-39.pyc
__pycache__/exam_functions.cpython-39.pyc
__pycache__/exam_toolbox.cpython-39.pyc
__pycache__/toolbox_02450.cpython-39.pyc
__pycache__/toolbox_extended.cpython-39.pyc
